@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Serif:wght@700&display=swap");

body {
    @apply bg-white;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.video-card {
    width: 140px;
    height: 100px;
    cursor: pointer;
    border-bottom: 7px solid #01aeff;
}

.video-card:first-child {
    margin-top: 0px !important;
}

.video-card:last-child {
    margin-bottom: 0px !important;
}

.text-about p {
    @apply pb-5 text-gray-800;
}

.text-about a {
    @apply text-gray-600 underline;
}

.video-card:hover {
    opacity: 0.8;

    @apply transition duration-150 ease-out;
}

a:hover {
    opacity: 0.8;
}

strong {
    @apply font-bold;
}

.title-border {
    @apply text-lg font-lato font-bold;
}

.title-medium {
    @apply font-lato font-bold text-xl pb-3;
}

.divider-xl {
    @apply h-24;
}

.videosmini:first-child {
    margin-top: 0 !important;
}

.wrap-canvas {
    width: 1215px;
    height: 520px;
}
